body {
  background-color: #f5f7fb;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 100px;
}

h1 {
  color: #4a90e2;
  font-size: 40px;
}

p {
  color: #555;
  font-size: 20px;
}
.card {
  background-color: white;
  width: 250px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}